.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 400px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-content > div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content-hovered {
  background-color: #f1f1f1;
}

.dropdown-content > div:hover {
  background-color: #f1f1f1;
}
